body {
    font-family: Arial, sans-serif;
    background-image: url('https://d1m75rqqgidzqn.cloudfront.net/wp-data/2021/09/22153728/iStock-1203763961.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(90, 230, 90, 0.7); /* Adjust the opacity as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer {
    margin-top: 20px;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
